<h3>Our Products</h3>

<mat-tab-group animationDuration="0ms">
  <mat-tab label="Personal Manager">
      This is a personal manager so that you can stay focussed on the tasks to be completed.</mat-tab>
  
      <mat-tab label="Manager for Schools">
    This is a Manager for Schools so that School management can stay focussed on the tasks to be completed.</mat-tab>
  
    <mat-tab label="Manager for Chartered Accountants">
    This is a Manager for Chartered Accountants so that you can stay focussed on the tasks to be completed.</mat-tab>
 
  <mat-tab label="Manager for Developers">
    This is a Manager for Developers so that you can stay focussed on the tasks to be completed.</mat-tab>
 
  <mat-tab label="Manager for Students">
    This is a Manager for Students so that you can stay focussed on the tasks to be completed.</mat-tab>
 
</mat-tab-group>